.no-margin{
    margin: 0;
    max-width:2000px;
 
    
}
#page{
    
    width: 1000PX;
    height: 20px;
   

}
.input{
    margin-left: auto;
    margin-right:auto ;
}
.head
{
    background-color: black;
    color: white;
    text-align: center;
    width: 980px;
    height: 25px;
    
    letter-spacing: 20px;
    padding: 2PX;
    font-size: 15px;

}
.table1
{
    margin-left: 580px;
    margin-top: 30px;
    border: 0;
}

.information
{
    text-align: center;
    padding: 40px;
    margin-top: 300px ;

}

.table
{
    margin-top: 1px;
    margin-left:auto ;
    margin-right:auto ;
    
}
#table-first
{
    width:15px;
    padding: 6px;
   
    

}
 #table-name{
     width: 150px;
     text-align: center; 
 }
 #description{
     width: 500px;
     text-align: center; 
 }
 #price
 {
    width: 300px;
    text-align: center; 
 }
 .title
 {
     background-color: gray;
 }
 #price1
 {
    text-align: right;
 }
 #price2{
    text-align: right;
 }
 #price3{
    text-align: right;
 }
 #price4{
    text-align: right;
 }
 .total-sub
 {
     text-align: right;
 }
 .applied{
     text-align: right;
 }
 .tax{
     text-align: right;
 }
 .net{
     text-align: right;
 }