
body
{
    margin: 0px 250px;
    font-family: Arial, Helvetica, sans-serif;
    max-width:2000px;
    
}
.head
{
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 20px;
}
.table1
{
    margin-left: 520px;
    margin-top: 30px;
    border: 0;
}

.information
{
    text-align: center;
    padding: 40px;

}
.table
{
    margin-top: 1px;
}
#table-first
{
    width: 30px;
    padding: 6px;
    

}
 #table-name{
     width: 190px;
     text-align: center; 
 }
 #description{
     width: 550px;
     text-align: center; 
 }
 #price
 {
    width: 300px;
    text-align: center; 
 }
 .title
 {
     background-color: gray;
 }
 #price1
 {
    text-align: right;
 }
 #price2{
    text-align: right;
 }
 #price3{
    text-align: right;
 }
 #price4{
    text-align: right;
 }
 .total-sub
 {
     text-align: right;
 }
 .applied{
     text-align: right;
 }
 .tax{
     text-align: right;
 }
 .net{
     text-align: right;
 }
